<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vb.openForm()">Open Form</button>
        <h1>{{'Nilai a: '+ a}}</h1>
        <h2>{{'Nilai Rata-Rata : '}}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     
    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                a:0,
                rata:0
            },
            methods:{
                openForm(){
                    for(let x=1; x<=4; x++){
                    this.a = prompt('masukkan nilai ke'+x)
                    this.a +=this.a;
                }
                this.rata=this.a/4;
                }
            }
        })

    </script>

    
</body>
</html>