<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
</head>
<body>
   <div id="app">
    <div class="formInput">
        <input type="text" placeholder="Tambah Data Sini" v-model="formUser" >
        {{formUser}}
        <button @click="addUser" v-if="!btnstatus">Add</button>
        <button @click="updateUser" v-if="btnstatus">Update</button>
    </div>
      

       <div class="userslist">
       <!-- v-for = > untuk menampilkan data array -->
       <ul v-for="(user, index) in reverseUser">
           <li :key="index">
            {{user.name}}||
           <button @click="editUser(index)">Edit</button>
           <button @click="deleteUser(index)">Delete</button>
        </li> 
       </ul>
    </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

   <script>

       var vm = new Vue({
           el: '#app',
           data: {
               users: [
                   {name : 'Sahadat Islam'},
                   {name : 'Muhammad Iqbal Maulana'},
                   {name : 'Bayu Fajar Pangestu'},
               ],
               formUser : '',
               btnstatus : false,
               idSelected : null
           },
           computed : {
               reverseUser : {
                   get : function(){
                    return this.users.slice().reverse()

                },
                set : function(value){
                    this.users = value.slice().reverse()
                }
               }
           },
           methods : {
               addUser : function(){
                   this.users.push(
                       {name : this.formUser}
                   )

                   this.formUser = ''
               },
               editUser : function(id){
                   this.formUser = this.reverseUser[id].name
                   this.btnstatus=true
                   this.idSelected= id
                //    console.log(id)
               },
               updateUser : function(){
                   this.reverseUser[this.idSelected].name = this.formUser
                   this.formUser = ''
                   this.btnstatus=false
               },
               deleteUser : function(id){
                   let konfirmasi= confirm("Apakah Anda yakin ingin menghapus data")
                   if  (konfirmasi) {
                    this.reverseUser = this.reverseUser.filter(function(item, index){
                        return index != id
                        
                    })
                   }
               }
           }

       })
   </script>
   

</body>
</html>