<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Binding</title>
    <style>
        form{
            border :1px solid#ddd;
            padding: 5px;
            width: 225px;
            background: #ddd;
        }
        label{
            display: block;
            margin-top: 5x;
        }
        input,textarea,select,option{
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <label for="title">Title : {{title}}</label>
            <input type="text" name="title" v-model="title">
            <label for="title">Description</label>
            <textarea v-model="description" name="description" cols="30" rows="5"></textarea> <br> <br>
            <input type="submit" value="SUBMIT">
        </form>
      
    </div>


    <!-- dokumentasi inputBinding Vue Bisa di akses di webnya -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      
        var vm = new Vue({
            el: '#app',
            data: {  
                title : '',
                description: ''

            },
            methods:{
                submitForm : function(){
                    console.log('masuk')
                }
            }
        })
    </script>
      
</body>
</html>