<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Binding</title>
</head>
<body>
    <div id="app">
    <form>
        <input v-model.trim="msg">
        </form>
    {{ msg }}
    </div>


    <!-- dokumentasi inputBinding Vue Bisa di akses di webnya -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      
        var vb = new Vue({
            el: '#app',
            data: {
                msg: ''
                
            },
        })


    </script>
      
</body>
</html>