<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notif Validasi Sederhana</title>
    <style>
        form{
            border :1px solid#ddd;
            padding: 5px;
            width: 225px;
            background: #ddd;
        }
        label{
            display: block;
            margin-top: 5x;
        }
        input,textarea,select,option{
            min-width: 200px;
        }
    </style>
</head>
<body>
    <!-- alert error 1 -->
    <div id="app">
        <p v-if="errors.length">
            <b>Please correct the following erorrs</b>
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
        </p>
        <form @submit.prevent="submitForm()">
            <label for="title">Title</label>
            <input type="text" name="title" v-model="title" ref="title">
            <label for="title">Description</label>
            <textarea v-model="des" name="description" cols="30" rows="5" ref="des"></textarea> <br> <br>
            <input type="submit" value="SUBMIT">
        </form>
      
    </div>


    <!-- dokumentasi inputBinding Vue Bisa di akses di webnya -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      
        var vm = new Vue({
            el: '#app',
            data: {  
                title : '',
                des: '',
                errors:[]

            },
            methods:{
                // validasi sederhana
                submitForm : function(){
                    this.errors = []
                    // buat variable erorr dulu
                    // let error = 0

                    // jika inputan title kurang dari 5
                    if(this.title.length < 5){
                        this.errors.push('Tittle minimal 5 karakter')
                        // error++
                        this.$refs.title.focus()
                        // alert('Tittle minimal harus 5 karakter')
                    }else if(this.des.length > 10){
                        this.errors.push('Deskripsi tidak boleh dari 10 karakter')
                        // error++
                        this.$refs.des.focus()
                        // alert('Deskripsi tidak boleh lebih dari 10 karakter')
                    }
                    if(this.errors.length===0){
                        alert('Terimakasih sudah mengisi data dengan benar')
                    }
                }
            }
        })
    </script>
      
</body>
</html>