<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{fullname}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                firstname: 'Sahadat',
                lastname: 'Islam'
            },
            computed:{
                fullname : {
                    get:function(){
                        return `${this.firstname} ${this.lastname}`
                    },
                    set:function(params){
                        let arr = params.split(' ')
                        this.firstname = arr [0]
                        this.lastname = arr [1]
                    }
                }
            }
        })

    </script>
</body>
</html>