<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Binding</title>
</head>

<body>
    <div id="app">
        <!-- -bind menampilkan data ke attribut yang ada (one way data binding)-->
        <!-- <input type="text" v-bind:value="message"> -->

        <!-- -model menampilkan data ke attribut yang ada to way data binding-->
        
        <input type="text" v-model:value="message">


        <h1>{{message}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                message: 'Jangan Lupa Solat Ya'
            },
        })

    </script>
</body>

</html>