<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- v-once ini mempertahankan pesan -->
        <!-- <p v-once>{{ message }}</p> -->

        <!-- v-html untuk menampilkan HTML -->
        <!-- <h2 v-html="message"></h2> -->



        <p>{{ 'Pesan : '+message }}</p>
        <!-- Jika Data di test True -->
        <p>{{test ? 'Yes':'No'}}</p>
        
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                message: 'Jangan Lupa Solat Ya Oke',
                number : 30000,
                test : false,
                Array : []
            }
        })
        
    </script>
</body>

</html>