<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                message: '<span style="color: green;">Jangan Lupa Solat Ya Oke</span>',
                author: 'Sahadat Islam'
            },
            template: 
            `<div>
            <h1 v-html="message"></h1>
            <i>{{author}}</i>
            </div>`
        })

    </script>
</body>

</html>