<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
       <!-- {{c(3)}} -->
       <button onclick="vb.c(3)">Klik Di Sini </button>
       {{a}}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vb = new Vue({
            el: '#app',
            data: {
                a:1,
                name:'Sahadat Islam'
                
            },
            computed:{
                b(){
                    return this.a+2
                }
            },
            methods:{
                c(number){
                    // return this.a+number
                    this.a = this.a+number
                },
                notif(param){
                    alert(param)

                }
            }
        })

    </script>
</body>
</html>